.title {
    color: red;
    background-color: aqua;
    font-size: 48px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.link,
.ingredient {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.ingredient {
    color: green;
    text-align: center;
}

.step {
    color: magenta;
    font-size: 20px;
}

.step.odd {
    color: purple;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}